<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/projects.html">Projects</a></li>
            </ul>
        </nav>
        <div class="container">
            {{ content }}
        </div><!-- /.container -->
        <footer>
            <ul>
                <li><a href="mailto:jayv136@gmail.com">email</a></li>
                <li><a href="https://github.com/jayvalentine">github.com/jayvalentine</a></li>
            </ul>
        </footer>
    </body>
</html>
