---
layout: default
---
<h1>Modular Z80 Computer</h1>
<div class="contents" style="text-align: center;">
    <div style="display: inline-block; text-align: left;">
        <h2>Contents</h2>
        <ul>
            <li><a href="/modularz80/index.html">Introduction</a></li>
            <li><a href="/modularz80/modules.html">Modules</a></li>
            <li><a href="/modularz80/software.html">Software</a>
                <ul>
                    <li><a href="/modularz80/bootloader.html">Bootloader</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
{{ content }}
